#nome {
  position: relative;
}

#nome::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 95%;
  border-right: 2px solid var(--branco);
  right: -5px;
  animation: blink 1s infinite ease;
}

.cabecalho {
  background-image: var(--gradiente);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cabecalho p {
  font-size: 28px;
  margin-left: 0.5em;
  font-weight: bold;
}

.cabecalho__links {
  padding: 1em 0;
}

.cabecalho__links a {
  margin: 10px;
  font-size: 3.5rem;
  text-decoration: none;
  color: var(--branco);
}

@media screen and (min-width: 1024px) {
  .cabecalho__links a:hover {
    color: var(--cinza);
  }
}